<h4>Add user</h4>
<form name="addForm">
    <fieldset>
        <table>
            <tr>
                <td><label for="userName">Name</label></td>
                <td><input id="userName" ng-model="user.name" required placeholder="Введите имя" /></td>
            </tr>
            <tr>
                <td><label for="userAge">Age</label></td>
                <td><input id="userAge" type="number" min="0" max="130" ng-model="user.age" required placeholder="Введите возраст" /></tr>
            <tr>
                <td><label for="userMarried">Married</label></td>
                <td><input id="userMarried" type="checkbox" ng-model="user.married" required /></td>
            </tr>
        </table>
        </br>
        <span>
            <button ng-click="cancelAdd()">Cancel</button>
        </span>
        <span>
            <button ng-click="addUser()">Add</button>
        </span>
    </fieldset>
</form>