<div ng-controller="edit as vm">
    <h3>Edit entity[{{vm.entityKey}}]</h3>
    <form name="editForm">
        <fieldset>
            <table>
                <tr>
                    <td><label for="Name">Name</label></td>
                    <td><input id="Name" ng-model="vm.entity.Name" required placeholder="Введите имя" /></td>
                </tr>
                <tr>
                    <td><label for="EMail">EMail</label></td>
                    <td><input id="EMail" ng-model="vm.entity.EMail" required placeholder="Введите E-mail" /></td>
                </tr>
                <tr>
                    <td><label for="Karma">Karma</label></td>
                    <td><input id="Karma" type="number" ng-model="vm.entity.Karma" required placeholder="Введите карму" /></td>
                </tr>
            </table>
            <br>
            <span>
                <button ng-click="vm.cancelChanges()">Cancel</button>
            </span>
            <span>
                <button ng-click="vm.saveChanges()">Save</button>
            </span>
        </fieldset>
    </form>
</div>


