<div ng-controller="main as vm">

     &nbsp;&nbsp;<button ng-click="vm.addEntity()">Add</button>
    <!--    -->
    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Text</th>
                <th>Votes</th>
                <th>Moderated</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="entity in vm.entities">
                <td>{{entity.Address}}</td>
                <td>{{entity.Text}}</td>
                <td>{{entity.Votes}}</td>
                <td>{{entity.Moderated}}</td>
                <td>
                    <span>
                        <button ng-click="vm.editEntity(entity.__PrimaryKey)">Edit</button>
                    </span>
                    <span>
                        <button ng-click="vm.removeEntity(entity, $index)">X</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>