<div ng-controller="main as vm">

     &nbsp;&nbsp;<button ng-click="vm.addEntity()">Add</button>
    <!--    -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>EMail</th>
                <th>Karma</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="entity in vm.entities">
                <td>{{entity.Name}}</td>
                <td>{{entity.EMail}}</td>
                <td>{{entity.Karma}}</td>
                <td>
                    <span>
                        <button ng-click="vm.editEntity(entity.__PrimaryKey)">Edit</button>
                    </span>
                    <span>
                        <button ng-click="vm.removeEntity(entity, $index)">X</button>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>